<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location.reload();}"></iframe>

<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSckpIJxlf1fOX43zLTr3o19kU7psJw2NuX5TXkw-z_0F5FIog/formResponse" method = "post" target="hidden_iframe" onsubmit="submitted=true;">

          <label>Name</label>
          <input name="entry.1453197336" type="text" required/>

          <label>Species</label>
          <input name="entry.1080694997" type="text" required />

          <label>Comment</label>
          <input name="entry.1429969413" type="text" required/>

          <input type="submit" value="Send" />

    </form>
